<% layout("/layouts/boilerplate") %>
  <body>
    <h3 class="col-8 offset-2">Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="row">
          <div class="col-8 offset-2">
            <div class="mb-3">
              <label for="title">Title</label>
              <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
              <div class="valid-feedback">
                Title looks good!
              </div>
              <div class="invalid-feedback">
                Please enter valid title!
              </div>
            </div>
            
           
            <div class="mb-3">
              <label for="description">Description</label>
              <textarea name="listing[description]"class="form-control" required>
                <%= listing.description %>
                </textarea>
                <div class="valid-feedback">
                  Nice Discription
                </div>
                <div class="invalid-feedback">
                  Please add discription about this!!
                </div>
            </div>
           
            <div class="mb-3">
              <h4>Original Image</h4>
              <img src="<%= originalImageUrl %>" alt="">
            </div>

            <div class="mb-3">
              <label for="image">Upload New Image</label>
              <input name="listing[image]"  type="file" class="form-control" />
            </div>
            
            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="price">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
                <div class="invalid-feedback">
                  Please add valid-Price!!
                </div>
              </div>
              
              <div class="mb-3 col-md-8">
                  <label for="country">Country</label>
                  <input
                  name="listing[country]"
                  value="<%= listing.country %>"
                  type="text"
                  class="form-control"
                  required
                />
                <div class="valid-feedback">
                  Nice country
                </div>
                <div class="invalid-feedback">
                  Please enter valid country name!!
                </div>
              </div>
            </div>
            
            
            <div class="mb-3">
              <label for="location">Location</label>
              <input
              name="listing[location]"
              value="<%= listing.location %>"
              type="text"
              class="form-control"
              required
            />
            <div class="valid-feedback">
              Thsi is an ossam location.
            </div>
            <div class="invalid-feedback">
              Please enter valid location!!
            </div>
            </div>
            </div>
          </div>
          <button class="add-btn offset-2 mb-3">Edit</button>
      </div>
    
    </form>
    <script src="/js/script.js"></script>
  </body>
</html>
